<br><h3 class="text-center">Товар {{$ctrl.product.name}}</h3><br>
<div class="container">
    <div class="row text-center">

        <div class="col-sm-4">
            <div class="panel panel-info panel-item">
                <div class="panel-body iteminfobody">
                    <img ng-src="https://digital-app.herokuapp.com/image?url={{$ctrl.product.imagePath}}" class="img-responsive"  style="height:370px" alt="{{product.name}}" />
                </div>
            </div>
         </div>

        <div class="col-sm-4">
            <div class="panel panel-info panel-item">
                <div class="panel-body text-left iteminfobody">
                    <p1 class="text-center">Основные характеристики</p1>
                    <br><br><br>

                    <div ng-repeat="pr in $ctrl.product">
                        <p ng-repeat="(key, val) in pr"><b>{{key}}</b> : {{val}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-info panel-item">
                <div class="panel-body iteminfobody">
                    <p class="itemprice"> Цена: {{$ctrl.product.price}} руб.</p>
                    <br>
                    <br>
                    <button type="button" class="btn btn-info">В корзину!</button>
                    <br><br><br>
                    <p><b>Краткое описание: </b></p>
                    <p>{{$ctrl.product.description}}</p>

                </div>
            </div>
        </div>
    </div>
</div>

