<br><h3 class="category-name">Категория {{$ctrl.filterproducts[0].category.name}}</h3><br>

<div class="container">
    <div class="row text-center">
        <div class="col-sm-4" >
            <div class="panel panel-info panel-filter">
                <div class="panel-heading">
                    <p>Фильтр</p>
                </div>
                <div class="panel-body">

                    <p><b>Цена</b></p>
                    <div class="col-xs-8">
                        <label for="price_from">от</label>
                        <input type="text" class="form-control" id="price_from" placeholder="от" ng-model="formInfo.priceFrom" pattern="\d*">
                    </div>
                    <div class="col-xs-8">
                        <label for="price_to">до</label>
                        <input type="text" class="form-control" id="price_to" placeholder="до" ng-model="formInfo.priceTo" pattern="\d*">
                        <p>бел. руб</p>
                    </div>

                    <div>
                        <p><b>Производитель</b></p>
                        <div class="radio">
                            <label><input type="radio" ng-model="formInfo.manufacturer" value="Lg">LG</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="formInfo.manufacturer" value="Samsung">Samsung</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="formInfo.manufacturer" value="Xiaomi">Xiaomi</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="formInfo.manufacturer" value="Huawei">Huawei</label>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <button ng-click="$ctrl.filterData(formInfo)" type="submit" class="btn btn-info">Фильтровать</button>
                    <button ng-click="$ctrl.resetData()" type="submit" class="btn btn-info"><img src="img/refresh.png" alt="reset" class="reset_img"></button>
                </div>
            </div>
        </div>

        <div class="col-sm-2" ng-repeat="filter in $ctrl.filterproducts">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <a href="#!/products/{{filter._id}}">
                        {{filter.name}}
                    </a>
                </div>
                <div class="panel-body" align="center">
                    <a href="#!/products/{{filter._id}}">
                        <img ng-src="https://digital-app.herokuapp.com/image?url={{filter.imagePath}}" class="img-responsive" style="height:150px" alt="{{filter.name}}" />
                    </a>
                    <p class="mainpageprice">{{filter.price}} руб.</p>
                </div>
                <div class="panel-footer text-center">
                    <button type="button" class="btn btn-info">В корзину!</button>
                </div>
            </div>
        </div>


    </div>
</div>